receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  otlp/2:
    protocols:
      grpc:
        endpoint: 0.0.0.0:55690

exporters:
  debug:
    verbosity: detailed
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true
      insecure_skip_verify: true
  otlphttp/jaeger:
    endpoint: "http://jaeger:4318"
    tls:
      insecure: false
      insecure_skip_verify: true

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 127.0.0.1:55555

service:
  extensions: [health_check, pprof, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug, otlphttp/jaeger, otlphttp/loki]
    traces/2:
      receivers: [otlp/2]
      exporters: [debug, otlphttp/loki]
    metrics:
      receivers: [otlp]
      exporters: [debug, otlphttp/loki]
    logs:
      receivers: [otlp]
      exporters: [debug, otlphttp/loki]
